services:
  quant_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stock_analyzer
    environment:
      - APP_ENV=prod
      - TZ=Asia/Shanghai
      - http_proxy= 
      - https_proxy= 
    restart: "no"
    volumes:
      - .:/app              # 将当前代码目录映射到容器
      - /opt/stock_datas:/app/stock_datas
      - /opt/secret_config/secret_config.json:/app/secret_config.json:ro #敏感信息配置文件映射
    working_dir: /app
    command: python main.py
