services:
  quant_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stock_analyzer
    environment:
      - APP_ENV=prod
      - TZ=Asia/Shanghai
      - http_proxy= 
      - https_proxy= 
    restart: always
    volumes:
      - .:/app              # 将当前代码目录映射到容器
    working_dir: /app
    command: python main.py
