version: '3'
services:
  quant_bot:
    image: python:3.12-slim
    container_name: stock_analyzer
    environment:
      - APP_ENV=prod
      - TZ=Asia/Shanghai
      - http_proxy= 
      - https_proxy= 
    restart: always
    volumes:
      - .:/app              # 将当前代码目录映射到容器
    working_dir: /app
    command: >
      sh -c "pip install -i http://mirrors.aliyun.com/simple/ --trusted-host mirrors.aliyun.com -r requirements.txt && python main.py"
